/*ON/OFF Switch*/
.onoffswitch 
{
    position: relative; width: 40px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch-checkbox 
{
    display: none;
}

.onoffswitch-label
 {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}

.onoffswitch-inner 
{
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after 
{
    display: block; float: left; width: 50%; height: 12px; padding: 0; line-height: 12px;
    font-size: 10px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}

.onoffswitch-inner:before 
{
    content: "ON";
    padding-left: 5px;	
    /*background-color: #82D628; color: #FFFFFF;*/
    background-color: gold; color: #FFFFFF;
}
.onoffswitch-inner:after 
{
    content: "OFF";
    padding-right: 3px;
    background-color: #0F0E0E; color: #FFFFFF;
    text-align: right;
}

.onoffswitch-switch 
{
    display: block; width: 10px; margin: 1px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 24px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner 
{
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch
{
    right: 0px; 
}