.notif_link
{
    color: gold;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
}

.notif_link:hover
{
    text-decoration: underline;
}

.notif_table
{
    min-width: 500px;
}

.notif_list_table th
{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 5px;
}

.notif_list_table td
{
    background-color: rgba(0, 0, 0, 0.2);
    padding-bottom: 7px;
    padding-top: 7px;
    padding-right: 7px;
    padding-left: 7px;
}

.notif_message
{
    padding-right: 10px;
}
